.logout {
	margin-left: 9px;
}

.pad_top {
	padding-top: 0.25em;
}

input[type=text], input[type=number], input[type=date], input[type=password]{
	width: 50%;
}

select.form-control{
	width: 50%;
}

}
.seneca {
	width: 200px;
}